div.store.container {
  padding-bottom: 40px !important;
}

div.store > section.content-header {

}

div.store-item.card {
  display: inline-block;
  margin: 8px;
  box-shadow: 0 7px 14px 0 rgba(59,64,94,0.1),0 3px 6px 0 rgba(0,0,0,0.07);
}

div.store-item > a > div.card > div.card-body {
  display: inline-block;
}

div.store-item > a > div.card > div.card-body > div.card-img {

}

div.store-item > a > div.card > div.card-body > div.card-img > img.short-img {

}

div.store-item > a > div.card > div.card-body > div.card-title {

}

div.store-item > a > div.card > div.card-body > div.card-text {

}