{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %} - Client{% endblock %}

{% block body %}

    <h4 class="title text-center">This dashboard is still a work in progress. Check out the <a href="{{ url("app_commerce_store") }}">Store</a> instead!</h4>
    <hr>


{% endblock %}