{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}
    Home
{% endblock %}

{% block page_content %}
    <p class="text-danger font-weight-bold">We are currently working on implementing an automatic payment system. For now, please
        message an administrator if you wish to purchase license keys at this time.</p>
    <p>Click "My Keys" to view your active license keys</p>
    <p>Click "My Invoices" to view your invoices</p>
    <p>Click "Store" to visit the store</p>

{% endblock %}
