{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}
    Home
{% endblock %}

{% block page_content %}
    <p class="text-danger font-weight-bold">We are currently working on implementing an automatic payment system. For now, please
        message an administrator if you wish to purchase license keys at this time.</p>
    <p>Click "My Keys" to view your active license keys</p>
    <p>Click "My Invoices" to view your invoices</p>
    <p>Click "Store" to visit the store</p><br>
    <p class="font-weight-bold">Usual Purchase Flow</p>

    <div class="pl-2 pr-2">
        <p>1. Visit the store and navigate to the product you desire.</p>
        <p>2. Select the amount of keys, and their corresponding duration on the list. These will appear under the default subscription items.</p>
        <p>3. Click purchase, and continue through the checkout flow.</p>
        <p>4. If applicable, message an administrator for manual approval.</p>
        <p>5. Navigate back to the Seller panel, either through the dropdown on the top right or the "Get Keys" button on the corresponding invoice.</p>
        <p>6. Then, navigate to the "My Keys" page where you will find all purchased keys and their corresponding statuses.</p>
    </div>
{% endblock %}
