{% extends 'base.html.twig' %}

{% block title %} - Error{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <div class="error">405: Method not allowed</div>
        </div>
    </div>


{% endblock %}